#main-window {
    background-color: rgb(162, 178, 193);
    color: white;
}


#upper_box_boxes {
    border-radius: 30px;
    /* background-color: lightskyblue; */
    /* background-color: rgb(43, 52, 71); */
    background-color: rgb(38, 43, 54);
}

#button-enable {
    background-color: green;
    color: white;
}

#button-disable {
    background-color: red;
    color: black;
}

#upper_box_boxes button {
    min-height: 40px;
    border-radius: 40px;
}


#lower_box_status{
    font-size: 500%;
    /* color: greenyellow; */
    color: red;
}